{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://workspaces.amazonaws.com/"
        },
        {
            "url": "http://workspaces.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows and Amazon Linux desktops for your users.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon WorkSpaces",
        "version": "2015-04-08",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workspaces-2015-04-08.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "workspaces"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/workspaces/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified IP access control group with the specified directory.",
                "operationId": "AssociateIpGroups",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidResourceStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "OperationNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DirectoryId": {
                                        "description": "The identifier of the directory.",
                                        "pattern": "^d-[0-9a-f]{8,63}$",
                                        "type": "string"
                                    },
                                    "GroupIds": {
                                        "description": "The identifiers of one or more IP access control groups.",
                                        "items": {
                                            "pattern": "wsipg-[0-9a-z]{8,63}$",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DirectoryId",
                                    "GroupIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AuthorizeIpRules": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>",
                "operationId": "AuthorizeIpRules",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidResourceStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupId": {
                                        "description": "The identifier of the group.",
                                        "pattern": "wsipg-[0-9a-z]{8,63}$",
                                        "type": "string"
                                    },
                                    "UserRules": {
                                        "description": "The rules to add to the group.",
                                        "items": {
                                            "description": "Describes a rule for an IP access control group.",
                                            "properties": {
                                                "ipRule": {
                                                    "description": "The IP address range, in CIDR notation.",
                                                    "type": "string"
                                                },
                                                "ruleDesc": {
                                                    "description": "The description.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "GroupId",
                                    "UserRules"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateIpGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don't associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>",
                "operationId": "CreateIpGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "GroupId": {
                                            "description": "The identifier of the group.",
                                            "pattern": "wsipg-[0-9a-z]{8,63}$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceCreationFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupDesc": {
                                        "description": "The description of the group.",
                                        "type": "string"
                                    },
                                    "GroupName": {
                                        "description": "The name of the group.",
                                        "type": "string"
                                    },
                                    "UserRules": {
                                        "description": "The rules to add to the group.",
                                        "items": {
                                            "description": "Describes a rule for an IP access control group.",
                                            "properties": {
                                                "ipRule": {
                                                    "description": "The IP address range, in CIDR notation.",
                                                    "type": "string"
                                                },
                                                "ruleDesc": {
                                                    "description": "The description.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "GroupName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateTags": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates the specified tags for the specified WorkSpace.",
                "operationId": "CreateTags",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResourceId": {
                                        "description": "The identifier of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags. Each WorkSpace can have a maximum of 50 tags.",
                                        "items": {
                                            "description": "Describes a tag.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The key of the tag.",
                                                    "maxLength": 127,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the tag.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceId",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateWorkspaces": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>",
                "operationId": "CreateWorkspaces",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "FailedRequests": {
                                            "description": "Information about the WorkSpaces that could not be created.",
                                            "items": {
                                                "description": "Describes a WorkSpace that cannot be created.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code that is returned if the WorkSpace cannot be created.",
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The text of the error message that is returned if the WorkSpace cannot be created.",
                                                        "type": "string"
                                                    },
                                                    "WorkspaceRequest": {
                                                        "description": "Information about the WorkSpace.",
                                                        "properties": {
                                                            "BundleId": {
                                                                "description": "The identifier of the bundle for the WorkSpace. You can use <a>DescribeWorkspaceBundles</a> to list the available bundles.",
                                                                "pattern": "^wsb-[0-9a-z]{8,63}$",
                                                                "type": "string"
                                                            },
                                                            "DirectoryId": {
                                                                "description": "The identifier of the AWS Directory Service directory for the WorkSpace. You can use <a>DescribeWorkspaceDirectories</a> to list the available directories.",
                                                                "pattern": "^d-[0-9a-f]{8,63}$",
                                                                "type": "string"
                                                            },
                                                            "RootVolumeEncryptionEnabled": {
                                                                "description": "Indicates whether the data stored on the root volume is encrypted.",
                                                                "type": "boolean"
                                                            },
                                                            "Tags": {
                                                                "description": "The tags for the WorkSpace.",
                                                                "items": {
                                                                    "description": "Describes a tag.",
                                                                    "properties": {
                                                                        "Key": {
                                                                            "description": "The key of the tag.",
                                                                            "maxLength": 127,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "Value": {
                                                                            "description": "The value of the tag.",
                                                                            "maxLength": 255,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Key"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "UserName": {
                                                                "description": "The username of the user for the WorkSpace. This username must exist in the AWS Directory Service directory for the WorkSpace.",
                                                                "maxLength": 63,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "UserVolumeEncryptionEnabled": {
                                                                "description": "Indicates whether the data stored on the user volume is encrypted.",
                                                                "type": "boolean"
                                                            },
                                                            "VolumeEncryptionKey": {
                                                                "description": "The KMS key used to encrypt data stored on your WorkSpace.",
                                                                "type": "string"
                                                            },
                                                            "WorkspaceProperties": {
                                                                "description": "The WorkSpace properties.",
                                                                "properties": {
                                                                    "ComputeTypeName": {
                                                                        "description": "The compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon WorkSpaces Bundles</a>.",
                                                                        "enum": [
                                                                            "VALUE",
                                                                            "STANDARD",
                                                                            "PERFORMANCE",
                                                                            "POWER",
                                                                            "GRAPHICS",
                                                                            "POWERPRO",
                                                                            "GRAPHICSPRO"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "RootVolumeSizeGib": {
                                                                        "description": "The size of the root volume.",
                                                                        "type": "integer"
                                                                    },
                                                                    "RunningMode": {
                                                                        "description": "The running mode. For more information, see <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html\">Manage the WorkSpace Running Mode</a>.",
                                                                        "enum": [
                                                                            "AUTO_STOP",
                                                                            "ALWAYS_ON"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "RunningModeAutoStopTimeoutInMinutes": {
                                                                        "description": "The time after a user logs off when WorkSpaces are automatically stopped. Configured in 60 minute intervals.",
                                                                        "type": "integer"
                                                                    },
                                                                    "UserVolumeSizeGib": {
                                                                        "description": "The size of the user storage.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "DirectoryId",
                                                            "UserName",
                                                            "BundleId"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PendingRequests": {
                                            "description": "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
                                            "items": {
                                                "description": "Describes a WorkSpace.",
                                                "properties": {
                                                    "BundleId": {
                                                        "description": "The identifier of the bundle used to create the WorkSpace.",
                                                        "pattern": "^wsb-[0-9a-z]{8,63}$",
                                                        "type": "string"
                                                    },
                                                    "ComputerName": {
                                                        "description": "The name of the WorkSpace, as seen by the operating system.",
                                                        "type": "string"
                                                    },
                                                    "DirectoryId": {
                                                        "description": "The identifier of the AWS Directory Service directory for the WorkSpace.",
                                                        "pattern": "^d-[0-9a-f]{8,63}$",
                                                        "type": "string"
                                                    },
                                                    "ErrorCode": {
                                                        "description": "The error code that is returned if the WorkSpace cannot be created.",
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The text of the error message that is returned if the WorkSpace cannot be created.",
                                                        "type": "string"
                                                    },
                                                    "IpAddress": {
                                                        "description": "The IP address of the WorkSpace.",
                                                        "type": "string"
                                                    },
                                                    "ModificationStates": {
                                                        "description": "The modification states of the WorkSpace.",
                                                        "items": {
                                                            "description": "Describes a WorkSpace modification.",
                                                            "properties": {
                                                                "Resource": {
                                                                    "description": "The resource.",
                                                                    "enum": [
                                                                        "ROOT_VOLUME",
                                                                        "USER_VOLUME",
                                                                        "COMPUTE_TYPE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "State": {
                                                                    "description": "The modification state.",
                                                                    "enum": [
                                                                        "UPDATE_INITIATED",
                                                                        "UPDATE_IN_PROGRESS"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "RootVolumeEncryptionEnabled": {
                                                        "description": "Indicates whether the data stored on the root volume is encrypted.",
                                                        "type": "boolean"
                                                    },
                                                    "State": {
                                                        "description": "The operational state of the WorkSpace.",
                                                        "enum": [
                                                            "PENDING",
                                                            "AVAILABLE",
                                                            "IMPAIRED",
                                                            "UNHEALTHY",
                                                            "REBOOTING",
                                                            "STARTING",
                                                            "REBUILDING",
                                                            "MAINTENANCE",
                                                            "ADMIN_MAINTENANCE",
                                                            "TERMINATING",
                                                            "TERMINATED",
                                                            "SUSPENDED",
                                                            "UPDATING",
                                                            "STOPPING",
                                                            "STOPPED",
                                                            "ERROR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "SubnetId": {
                                                        "description": "The identifier of the subnet for the WorkSpace.",
                                                        "pattern": "^(subnet-[0-9a-f]{8})$",
                                                        "type": "string"
                                                    },
                                                    "UserName": {
                                                        "description": "The user for the WorkSpace.",
                                                        "maxLength": 63,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "UserVolumeEncryptionEnabled": {
                                                        "description": "Indicates whether the data stored on the user volume is encrypted.",
                                                        "type": "boolean"
                                                    },
                                                    "VolumeEncryptionKey": {
                                                        "description": "The KMS key used to encrypt data stored on your WorkSpace.",
                                                        "type": "string"
                                                    },
                                                    "WorkspaceId": {
                                                        "description": "The identifier of the WorkSpace.",
                                                        "pattern": "^ws-[0-9a-z]{8,63}$",
                                                        "type": "string"
                                                    },
                                                    "WorkspaceProperties": {
                                                        "description": "The properties of the WorkSpace.",
                                                        "properties": {
                                                            "ComputeTypeName": {
                                                                "description": "The compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon WorkSpaces Bundles</a>.",
                                                                "enum": [
                                                                    "VALUE",
                                                                    "STANDARD",
                                                                    "PERFORMANCE",
                                                                    "POWER",
                                                                    "GRAPHICS",
                                                                    "POWERPRO",
                                                                    "GRAPHICSPRO"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "RootVolumeSizeGib": {
                                                                "description": "The size of the root volume.",
                                                                "type": "integer"
                                                            },
                                                            "RunningMode": {
                                                                "description": "The running mode. For more information, see <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html\">Manage the WorkSpace Running Mode</a>.",
                                                                "enum": [
                                                                    "AUTO_STOP",
                                                                    "ALWAYS_ON"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "RunningModeAutoStopTimeoutInMinutes": {
                                                                "description": "The time after a user logs off when WorkSpaces are automatically stopped. Configured in 60 minute intervals.",
                                                                "type": "integer"
                                                            },
                                                            "UserVolumeSizeGib": {
                                                                "description": "The size of the user storage.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Workspaces": {
                                        "description": "The WorkSpaces to create. You can specify up to 25 WorkSpaces.",
                                        "items": {
                                            "description": "Describes the information used to create a WorkSpace.",
                                            "properties": {
                                                "BundleId": {
                                                    "description": "The identifier of the bundle for the WorkSpace. You can use <a>DescribeWorkspaceBundles</a> to list the available bundles.",
                                                    "pattern": "^wsb-[0-9a-z]{8,63}$",
                                                    "type": "string"
                                                },
                                                "DirectoryId": {
                                                    "description": "The identifier of the AWS Directory Service directory for the WorkSpace. You can use <a>DescribeWorkspaceDirectories</a> to list the available directories.",
                                                    "pattern": "^d-[0-9a-f]{8,63}$",
                                                    "type": "string"
                                                },
                                                "RootVolumeEncryptionEnabled": {
                                                    "description": "Indicates whether the data stored on the root volume is encrypted.",
                                                    "type": "boolean"
                                                },
                                                "Tags": {
                                                    "description": "The tags for the WorkSpace.",
                                                    "items": {
                                                        "description": "Describes a tag.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "The key of the tag.",
                                                                "maxLength": 127,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The value of the tag.",
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Key"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "UserName": {
                                                    "description": "The username of the user for the WorkSpace. This username must exist in the AWS Directory Service directory for the WorkSpace.",
                                                    "maxLength": 63,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "UserVolumeEncryptionEnabled": {
                                                    "description": "Indicates whether the data stored on the user volume is encrypted.",
                                                    "type": "boolean"
                                                },
                                                "VolumeEncryptionKey": {
                                                    "description": "The KMS key used to encrypt data stored on your WorkSpace.",
                                                    "type": "string"
                                                },
                                                "WorkspaceProperties": {
                                                    "description": "The WorkSpace properties.",
                                                    "properties": {
                                                        "ComputeTypeName": {
                                                            "description": "The compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon WorkSpaces Bundles</a>.",
                                                            "enum": [
                                                                "VALUE",
                                                                "STANDARD",
                                                                "PERFORMANCE",
                                                                "POWER",
                                                                "GRAPHICS",
                                                                "POWERPRO",
                                                                "GRAPHICSPRO"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "RootVolumeSizeGib": {
                                                            "description": "The size of the root volume.",
                                                            "type": "integer"
                                                        },
                                                        "RunningMode": {
                                                            "description": "The running mode. For more information, see <a href=\"http://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html\">Manage the WorkSpace Running Mode</a>.",
                                                            "enum": [
                                                                "AUTO_STOP",
                                                                "ALWAYS_ON"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "RunningModeAutoStopTimeoutInMinutes": {
                                                            "description": "The time after a user logs off when WorkSpaces are automatically stopped. Configured in 60 minute intervals.",
                                                            "type": "integer"
                                                        },
                                                        "UserVolumeSizeGib": {
                                                            "description": "The size of the user storage.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "DirectoryId",
                                                "UserName",
                                                "BundleId"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 25,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Workspaces"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteIpGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>",
                "operationId": "DeleteIpGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceAssociatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupId": {
                                        "description": "The identifier of the IP access control group.",
                                        "pattern": "wsipg-[0-9a-z]{8,63}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "GroupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteTags": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified tags from the specified WorkSpace.",
                "operationId": "DeleteTags",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValuesException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResourceId": {
                                        "description": "The identifier of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "TagKeys": {
                                        "description": "The tag keys.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceId",
                                    "TagKeys"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteWorkspaceImage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image. ",
                "operationId": "DeleteWorkspaceImage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceAssociatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidResourceStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ImageId": {
                                        "description": "The identifier of the image.",
                                        "pattern": "wsi-[0-9a-z]{9,63}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ImageId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAccount": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves a list that describes the configuration of bring your own license (BYOL) for the specified account.",
                "operationId": "DescribeAccount",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DedicatedTenancyManagementCidrRange": {
                                            "description": "<p>The IP address range, specified as an IPv4 CIDR block, used for the management network interface.</p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>",
                                            "pattern": "(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$",
                                            "type": "string"
                                        },
                                        "DedicatedTenancySupport": {
                                            "description": "The status of BYOL (whether BYOL is enabled or disabled).",
                                            "enum": [
                                                "ENABLED",
                                                "DISABLED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAccountModifications": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves a list that describes modifications to the configuration of bring your own license (BYOL) for the specified account.",
                "operationId": "DescribeAccountModifications",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AccountModifications": {
                                            "description": "The list of modifications to the configuration of BYOL.",
                                            "items": {
                                                "description": "Describes a modification to the configuration of bring your own license (BYOL) for the specified account. ",
                                                "properties": {
                                                    "DedicatedTenancyManagementCidrRange": {
                                                        "description": "The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.",
                                                        "pattern": "(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$",
                                                        "type": "string"
                                                    },
                                                    "DedicatedTenancySupport": {
                                                        "description": "The status of BYOL (whether BYOL is being enabled or disabled).",
                                                        "enum": [
                                                            "ENABLED",
                                                            "DISABLED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorCode": {
                                                        "description": "The error code that is returned if the configuration of BYOL cannot be modified.",
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The text of the error message that is returned if the configuration of BYOL cannot be modified.",
                                                        "type": "string"
                                                    },
                                                    "ModificationState": {
                                                        "description": "The state of the modification to the configuration of BYOL.",
                                                        "enum": [
                                                            "PENDING",
                                                            "COMPLETED",
                                                            "FAILED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "StartTime": {
                                                        "description": "The timestamp when the modification of the BYOL configuration was started.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token to use to retrieve the next set of results, or null if no more results are available.",
                                            "maxLength": 63,
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "NextToken": {
                                        "description": "If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.",
                                        "maxLength": 63,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeClientProperties": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves a list that describes one or more specified Amazon WorkSpaces clients.",
                "operationId": "DescribeClientProperties",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ClientPropertiesList": {
                                            "description": "Information about the specified Amazon WorkSpaces clients.",
                                            "items": {
                                                "description": "Information about the Amazon WorkSpaces client.",
                                                "properties": {
                                                    "ClientProperties": {
                                                        "description": "Information about the Amazon WorkSpaces client.",
                                                        "properties": {
                                                            "ReconnectEnabled": {
                                                                "description": "Specifies whether users can cache their credentials on the Amazon WorkSpaces client. When enabled, users can choose to reconnect to their WorkSpaces without re-entering their credentials. ",
                                                                "enum": [
                                                                    "ENABLED",
                                                                    "DISABLED"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "ResourceId": {
                                                        "description": "The resource identifier, in the form of a directory ID.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValuesException",
                        "content": {
[...]
